.nvc{
    display: flex;
    justify-content:space-between;
}

.nvimc{
    width:100px;
    height:80px;
}

.nvlc{
    display:flex;
    align-items: center;
    gap:25px;
}

.nvllc{
    display: flex;
    gap:25px;
}

.link{
    font-size: 1.4rem;
    font-weight: 400;
}

.nvlbb{
    background-color: aliceblue;
    padding:10px;
    border:2px solid black;
    font-size: 1.2rem;
    font-weight: 450;
}
.nvlbb:hover{
    
    cursor: pointer;
}